doctype html
html
  head
    title #{title}
    meta(charset='utf-8')
    link(rel='stylesheet', href='/public/css/normalize.css')
    link(rel='stylesheet', href='/public/css/foundation.min.css')
    link(rel='stylesheet', href='/public/css/animate.min.css')
    link(rel='stylesheet', href='/public/css/xicon.css')
    link(rel='stylesheet', href='/public/css/index.css')
    block css
  body
    block content
    script(src="/lib/requirejs/2.1.14/require.js")
    block script