div.content
  if user && user.admin
    form(method="post", action="/add/log")
      div.row
        div.large-12.columns
          label(for="content") 日志内容
          textarea#content(name="content", required)
          input.button--success(type="submit", value="提交")
  div.row
    div.large-12.columns
      h1 colorBox更新日志
    div.row(ng-repeat="log in logs")
      div.large-12.columns
        hr
      div.large-12.columns {{log.date | date:'yyyy-MM-dd HH:mm:ss'}}
      div.large-12.columns(ng-bind-html="log.content")