//Page
//Index

@main-content-color: @white-color;
@main-aside-color: #f3f3f3;
@desktop-icon-color: #aaa;

.main{
  height: 100%;
  margin: 0 auto;
  position: relative;
  box-shadow: 0 0 4px #ccc;
}

.assist{
  position: fixed;
  top: 0;
  left: 0;
  z-index: @assist-index;
  .border-every-radius(bottom-right, 100%);

  &:hover{
    height: 6rem;
    width: 6rem;
    .assist-item-rotate(2, 0);
    .assist-item{
      display: block;
    }
  }
}

.assist-menu{
  position: relative;
  height: 3rem;
  width: 3rem;
  font-size: 1.4rem;
  line-height: 2.6rem;
  padding-left: .3rem;
  color: @white-color;
  background-color: #1D365D;
  .border-every-radius(bottom-right, 100%);
  z-index: 1;
}

.assist-item-rotate(@n, @i) when(@i <= @n){
  .rotate-icon@{i}{
    top: 5rem * sin(30deg * @i + 15deg);
    left: 5rem * cos(30deg * @i + 15deg);
  }
  .assist-item-rotate(@n, @i+1);
}

.assist__item{
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  width: 2rem;
  margin-top: -1rem;
  margin-left: -1rem;
  font-size: 1rem;
  line-height: 2rem;
  color: @white-color;
  background-color: #1D365D;
  text-align: center;
  .border-radius(100%);
  .transition(.3s all);
}

.main__content{
  background-color: @main-content-color;
  .transition(.3s all);
  .animated;

  & > div{
    overflow: auto;
    .position__full;
  }

  &.ng-enter{
    .fadeIn;
  }
  &.ng-leave{
    .fadeOut;
  }
}

.main__full{
  left: 0!important;
  top: 0!important;
  position: fixed;
  z-index: @main-index;
}

.main__overlay{
  left: 4rem;
  background-color: fade(@white-color, 50%);
  z-index: @overlay-index;
  .animated;

  &.ng-enter{
    .fadeIn;
  }
  &.ng-leave{
    .fadeOut;
  }
}

.desktop__apps{
  margin: 0;
  padding: 0;
  list-style: none;
}

.desktop__app{
  position: absolute;
  margin-top: 10px;
  margin-left: 10px;
  .transition(.3s all);

  &:hover .desktop__app-aside{
    display: block;
  }
}

.desktop__app a{
  display: block;
  height: 100%;
  width: 100%;
  font-size: 3em;
  line-height: 100px;
  text-align: center;
  background-color: @success-color;
  color: @white-color;
  .transition(.3s all);

  &:hover{
    background-color: darken(@success-color, 10%);
    box-shadow: 0 0 5px #ccc;
  }
}

.desktop__app-aside{
  display: none;
  position: absolute;
  top: 0;
  left: -1em;
}

.drag__temp{
  position: absolute;
  display: block;
  pointer-events: none;
  opacity:.5 !important;
  z-index: @drag-index;
  cursor: move;
}

.drag__placeholder{
  background-color:#47a447 !important;
  border-width:0 !important;
}

.drag__placeholder.wrong{
  background-color:#f00 !important;
}

.logo{
  position: fixed;
  top: 3rem;
  left: 3rem;
  transform-style: preserve-3d;
  height: 3rem;
  width: 3rem;
  z-index: @logo-index;
  .perspective(1000px);
  .transform(rotateX(-45deg) rotateY(45deg));
  .transition(.3s transform);

  &:hover{
    .perspective(100000px);
    .transform(rotateX(0deg) rotateY(0deg));

    .logo__item:nth-child(2){
      .rotateX(0deg);
    }

    .logo__item:nth-child(3){
      .rotateX(0deg);
    }

    .logo__item:nth-child(4){
      .rotateY(0deg);
    }

    .logo__item:nth-child(5){
      .rotateY(0deg);
    }

    span{
      .opacity(1);
    }
  }
}

.logo__item{
  display: block;
  position: absolute;
  height: 100%;
  width: 100%;
  color: @white-color;
  font-size: 20px;
  line-height: 3rem;
  text-align: center;
  .transition(.3s all);

  span{
    .opacity(0);
    .transition(.3s all);
  }

  &:nth-child(1){
    top: 0;
    left: 0;
    background-color: #235B66;
    cursor: move;
  }

  &:nth-child(2){
    top: -100%;
    left: 0;
    background-color: #11AEBF;
    .transform-origin(bottom);
    .rotateX(-90deg);
  }

  &:nth-child(3){
    top: 100%;
    left: 0;
    background-color: #F2AE30;
    .transform-origin(top);
    .rotateX(90deg);
  }

  &:nth-child(4){
    top: 0;
    left: -100%;
    background-color: #A0BF30;
    .transform-origin(right);
    .rotateY(90deg);
  }

  &:nth-child(5){
    top: 0;
    left: 100%;
    background-color: #F25244;
    .transform-origin(left);
    .rotateY(-90deg);
  }
}