div.desktop
  div.desktop__bar
    span.grid__1-2.grid__item
      a.desktop__bar-tab(ng-repeat="(href, item) in navs | desktopTabs", title="{{item.title}}", href="{{'/#' + href}}", ng-class="{active: href === $parent.href}") {{item.title}}
    span.grid__1-2.grid__item.text--right
      span.desktop__bar-item
        span(class="icon-search")
      a.desktop__bar-item(ng-repeat="(href, item) in navs | desktopNavs", title="{{item.title}}", href="{{'/#' + href}}")
        span(class="{{item.icon}}")
      a.desktop__bar-item(ng-show="user", href="/_logout", title="退出登录", ng-click="logout($event)")
        span.icon-exit
  div.relative(ng-class='{adding: status.adding}')
    ul.desktop__apps(drag-contain='apps', drag-box='apps')
      li.desktop__app(drag-item, ng-repeat="app in apps", ng-style="app.position", ng-class="{draging: app.draging}")
        a(ng-if="app.icon", title="{{app.name}}", href="{{app.link}}", class="desktop__app-system {{app.icon}}")
        a(ng-if="!app.icon && app.size.showIframe === 'false'", ng-bind="app.name", href="/_apps/preview/{{app._id}}", target="_blank")
        iframe(ng-if="app.size.showIframe === 'true'", ng-src="{{app.url}}", border=0, frameBorder=0, width="100%", height="100%")
        //div.desktop__app-aside
          //span.icon-minus(ng-if="app.size.showIframe === 'true'", title="拖拽应用")
          //span.icon-remove(ng-if="!app.isButton", ng-click="removeApp($index)", title="从桌面删除应用")
  //div.position__full