div.desktop-box(ng-class='{adding: status.adding}')
  ul.desktop-added-list(drag-contain='apps', drag-box='apps')
    li(drag-item, ng-repeat="app in apps", ng-style="app.position", ng-class="{draging: app.draging}")
      span.icon-plus.desktop-drag-btn(ng-if="app.isButton && app.addButton",ng-click="switchStatus('add')", title="添加桌面应用")
      a.app-logo(ng-if="!app.isButton && app.size.showIframe === 'false'", ng-bind="app.name", href="/_apps/preview/{{app._id}}", target="_blank")
      iframe(ng-if="app.size.showIframe === 'true'", ng-src="{{app.url}}", border=0, frameBorder=0, width="100%", height="100%")
      div.app-side-btns
        span.app-side-btn.icon-minus(ng-if="app.size.showIframe === 'true'", title="拖拽应用")
        span.app-side-btn.icon-remove(ng-if="!app.isButton", ng-click="removeApp($index)", title="从桌面删除应用")
div.desktop-all-list.app-list(ng-show="status.adding", ng-controller="ListCtrl")
  form(action="", method="get", ng-submit="submit($event)")
    div.row.collapse.sidebar
      div.small-8.columns
        input(type="text", placeholder="输入应用名称", name="name", ng-model="name")
      div.small-4.columns
        input.button.postfix.small(type="submit", value="搜索")
    div.row
      ul.clearing-thumbs(drag-box='apps')
        li.relative(drag-item, ng-repeat="app in apps")
          a.app-logo(ng-bind="app.name", href="/_apps/preview/{{app._id}}", target="_blank", title="{{app.name}}")
          select.size-option(ng-model="app.size", ng-options="o as (o.x+' × '+o.y) for (key, o) in app.sizes")