div.desktop(ng-class='{adding: status.adding}')
  div.text--center(ng-controller="appSquareCtrl")
    div.desktop__search
      form(ng-submit="search()")
        input.desktop__input(type="text", placeholder="输入应用名称", ng-model="searchName")
        button.desktop__search-button(title="搜索", type="submit", ng-show="!isShow")
          span.icon-search
        button.desktop__search-button(title="取消搜索", ng-click="cancelSearch($event)", ng-show="isShow")
          span.icon-close
    div.desktop__search-box(ng-class="{active: isShow}", auto-center, auto-center-length="displayApps.length")
      div.desktop__search-shadow
      div.panel(ng-repeat="app in displayApps", ng-init="hasAdded = hasAddedApps.indexOf(app._id) > -1")
        div.panel__header
          span {{app.name}}
        div.panel__body
        div.panel__footer
          span.icon-plus(ng-if="logined() && !hasAdded", title="添加至桌面", ng-click="addToDesktop(app)")
          span(ng-if="hasAdded") 已添加
  ul.desktop__apps(ng-class="{blur: $$childHead.isShow}")
    li.text--center(ng-show="!apps.length")
      您可以搜索应用并添加到这里
    li.desktop__app(drag-item, ng-repeat="app in apps", ng-style="app.position", ng-class="{draging: app.draging}")
      a(ng-if="app.icon", title="{{app.name}}", href="{{app.link}}", class="desktop__app-system {{app.icon}}")
      a(ng-if="!app.icon", ng-bind="app.name", href="/_apps/preview/{{app._id}}", target="_blank")
      iframe(ng-if="app.size.showIframe === 'true'", ng-src="{{app.url}}", border=0, frameBorder=0, width="100%", height="100%")