div.js-message.message
  div.messages__prompt(ng-show="!user")
    a(view-link, href="/#/login") 登录 
    | 后可留言
  form.form__full(ng-submit="submit()", ng-show="user")
    label.form__label(for="content") {{label}}
    textarea.form__input(id="content", name="content", ng-model="data.content", rows=5, required)
    input.button.form__button(type="button", value="取消", ng-click="cancel()", ng-show="current")
    input.button--primary.form__button(type="submit", value="发布")
  div.message__item(ng-repeat="msg in messages")
    if user
      a.message__response(ng-click="response(msg, msg.user)") 回复 
    div.message__avator
      img(src-element="http://identicon.relucks.org/{msg.user}?size=40")
      span.icon-user
    div.message__head {{msg.date | date:'yyyy-MM-dd HH:mm:ss'}} 
    div.message__head 
      a {{msg.user}}
      |  说：
    div.message__content {{msg.content}}
    div.message__item(ng-repeat="m in msg.responses")
      if user
        a.message__response(ng-click="response(msg, m.user)") 回复 
      div.message__head {{m.date | date:'yyyy-MM-dd HH:mm:ss'}} 
      div.message__head 
        a {{m.user}} 
        |  回复： 
        a {{m.to}}
      div.message__content {{m.content}}