div(style="padding: 10px 20px;")
  div.messages-box-prompt(ng-show="!user")
    a(view-link, href="/#/login") 登录 
    | 后可留言
  form.table(ng-submit="submit()", ng-show="user")
    div.form__row
      label.form__label(for="content") {{label}}
      textarea.form__input(id="content", name="content", ng-model="data.content", rows=5, required)
    div.form__row
      span.form__cell
        input.button.form__buttom(type="button", value="取消", ng-click="cancel()", ng-show="current")
      span.form__cell.text-right
      input.button--primary(type="submit", value="发布")
  div.large-12.columns.message-item(ng-repeat="msg in messages")
    if user
      a.message-response(ng-click="response(msg, msg.user)") 回复 
    div.message-item-avator
      img(src-element="http://identicon.relucks.org/{msg.user}?size=40")
      span.icon-user
    div.message-head {{msg.date | date:'yyyy-MM-dd HH:mm:ss'}} 
    div.message-head 
      a {{msg.user}}
      |  说：
    div.message-item-content {{msg.content}}
    div.message-item(ng-repeat="m in msg.responses")
      if user
        a.message-response(ng-click="response(msg, m.user)") 回复 
      div.message-head {{m.date | date:'yyyy-MM-dd HH:mm:ss'}} 
      div.message-head 
        a {{m.user}} 
        |  回复： 
        a {{m.to}}
      div.message-item-content {{m.content}}