div
  form(ng-submit="submit($event)")
    div.snippet__editor(resize-box="resizeBox")
    div.snippet__toolbar
      div.snippet__title.left(ng-bind="data.name")
      input.button--success.right(type="submit", value="保存")
      div.button-group.right
        input.button(type="button", ng-repeat="box in resizeBox.items", value="{{box.name}}", ng-click="toggle($index)", ng-class="{'button--primary': !box.hide}")
      select.right(ng-options="key as ('布局' + key) for (key, layout) in resizeBox.layouts", ng-model="layout")
script(type='text/ng-template',id='html-editor')
  div
    div.snippet__bar
      span.box-name jade
    div.snippet__box(code-editor="jade")
script(type='text/ng-template',id='javascript-editor')
  div
    div.snippet__bar
      span.box-name js
    div.snippet__box(code-editor="javascript")
script(type='text/ng-template',id='css-editor')
  div
    div.snippet__bar
      span.box-name css
    div.snippet__box(code-editor="css")
script(type='text/ng-template',id='preview')
  div
    div.snippet__bar
      span.box-name preview
    div.snippet__box
      iframe(ng-src="{{previewUrl}}", frameBorder=0)