div.relative(scroll-load="load")
  div.row.sidebar
    div.app-all-left
      div.clearfix
        div.small-8.columns
          input(type="text", placeholder="输入应用名称", ng-model="query.name")
        div.small-4.columns
          a.button(href="#/app-list?name={{query.name}}&type={{query.type}}") 搜索
      ul.app-type-list
        li(ng-repeat="type in appTypeList", ng-class="{active: query.type === type.key}")
          a(href="#/app-list?name={{query.name}}&type={{type.key}}", ng-bind="type.name")
    div.app-all-right
      div(ng-repeat="block in blocks")
        div.app-all-head(ng-bind="block.name")
        ul.clearfix
          li(drag-item, ng-repeat="app in block.apps")
            div.app
              div.app-logo(ng-bind="app.name", title="{{app.name}}")
              div.app-overview
                span(ng-bind="app.name")
              div.app-stars
                span(star-bar)
                span.app-user.right by {{app.user}}
            div.app-detail
              div.app-overview
                a(ng-bind="app.name", href="/_apps/preview/{{app._id}}", target="_blank", title="{{app.name}}")
              div.app-stars(star-bar)
              div.app-description(ng-bind="app.description || '无描述'")
              div.app-buttons
                button.button--success() 添加到桌面
        div(ng-bind="block.message", ng-show="block.message")