div.editor
  div.editor__nav(editor-nav="editorNav")
    a.editor__nav-item.text--success colorbox
  div.editor__boxs(resize-box="layoutConfig")
script(type="text/ng-template", id="editor-tree")
  div
    div.editor__tabs
      span.icon-plus.button-icon(ng-click="addFile()")
      span.icon-bin.button-icon(ng-click="delFile()")
    div.editor__tree(context-menu="menuConfig", has-context-menu="main")
      div.aui__tree(style="margin-top: 10px;")
        span.icon-briefcase
        a(href="/application/{{app.user}}/{{app.name}}{{app.entrance}}", target="_blank").aui__tree-node {{app.name}}
      div(xtree="files")
script(type="text/ng-template", id="editor-main")
  div
    div.editor__tabs
      span.icon-tree.button-icon(ng-click="toggleBlock(0)", ng-class="{active: !layoutConfig.items[0].hide}")
      span.icon-terminal.button-icon(ng-click="toggleBlock(2)", ng-class="{active: !layoutConfig.items[2].hide}")
      span.icon-plus.button-icon(ng-click="addFile()")
      span.editor__tab(ng-repeat='item in tabs', ng-init="file = getNode({unique: item})", ng-class='{active: $parent.currentTab === item}', ng-click="$parent.currentTab = item")
        | {{file.name}}
        span(ng-show="file.isChange") *
        button(ng-click="closeTab('tabs', item)") ×
    div.editor__contents.editor__back-logo
      div(editor="currentFile", ng-show="currentTab")
      div.editor__bottom-assist(ng-show="currentTab", context-menu="editorAssist")
        span.button-icon(trigger-context-menu="tab") {{editor.session.getUseSoftTabs() ? 'Spaces' : 'Tab'}} {{editor.session.getTabSize()}}
        span.button-icon(trigger-context-menu="syntax") {{editor.session.$modeId.split('/').pop()}}
        span.icon-cog.button-icon(trigger-context-menu="settings")
script(type="text/ng-template", id="editor-assist")
  div(ng-class="{'full-screen': fullScreen}")
    div.editor__tabs
      span.icon-enlarge.button-icon(ng-click="fullScreen = !fullScreen", ng-class="{active: fullScreen}" )
      span.editor__tab(ng-repeat='item in panelTabs', ng-class='{active: currentPanel === item}', ng-click="$parent.currentPanel = item")
        | {{getPanel(item).name}}
        button(ng-click="closeTab('panelTabs', item)") ×
    div.editor__contents(editor-panels)
script(type="text/ng-template", id="editor-route")
  div(style="padding: 10px;")
    div.row--gray
      span 应用入口：
      select.editor__select(ng-model="app.entrance", ng-options="file.url as file.url for file in files")
    table.table
      thead
        tr
          th.table__th--gray
            span.table__cell-text 链接
          th.table__th--gray
            span.table__cell-text 文件
      tbody
        tr(ng-repeat="file in files")
          td.table__td--gray
            input.table__input-text--gray(type="text", ng-model="file.url")
          td.table__td--gray
            span.table__cell-text {{file.name}}
script(type="text/ng-template", id="editor-preview")
  div.editor__nav
    span.icon-loop2.button-icon(title="刷新", ng-click="reloadIframe()", ng-show="iframeLoaded")
    span.icon-cross.button-icon(title="停止刷新", ng-hide="iframeLoaded")
    span  {{url}}
  div.editor__contents
    iframe(width="100%", height="100%", frameBorder=0, ng-src="{{url}}", editor-iframe)
script(type="text/ng-template", id="editor-source")
  div(style="padding: 10px;", ng-controller="editorSourceCtrl")
    input.table__input-text--gray.form__input(type="text", ng-model="tableName", auto-focus="errorMessage",
     ng-focus="this.select()", ng-blur="errorMessage = ''", ng-keydown="$event.keyCode === 13 && addTable()",
     style="height: 24px;width: 200px; vertical-align: middle;")
    button.button--primary.form__button(ng-click="addTable()")
      span.icon-plus  
      | 添加表
    button.button--success.form__button
      span.icon-save
      | 保存
    div
      span.prompt__item--warning(ng-bind="errorMessage", ng-show="errorMessage", style="font-size: 12px; margin-bottom: 1em; display: inline-block;")
    table.table(ng-repeat="table in sourceTable.list track by $index")
      thead
        tr
          th.table__th--gray(colspan=3)
            span.table__cell-text
              button.button-icon(ng-click="collapse = !collapse")
                span.icon-arrow-up3(ng-class="{'icon-arrow-down3': collapse}")  
                | 表{{table.name}}
              button.button-icon(ng-click="addColumn($index)")
                span.icon-plus  
                | 添加字段
              button.button-icon(ng-click="removeTable($index)")
                span.icon-remove  
                | 删除表
        tr(ng-hide="collapse")
          th.table__th--gray
            span.table__cell-text 操作
          th.table__th--gray
            span.table__cell-text 字段
          th.table__th--gray
            span.table__cell-text 类型
      tbody(ng-hide="collapse")
        tr(ng-repeat="column in table.columns")
          td.table__td--gray
            span.table__cell-text
              button.button-icon(ng-click="removeColumn($parent.$index, $index)")
                span.icon-close  
                | 删除
          td.table__td--gray
            input.table__input-text--gray(type="text", ng-model="column.name")
          td.table__td--gray
            select.table__input-text--gray(ng-options="type as type for type in typeList", ng-model="column.type")
