div.editor
  div.editor__nav(editor-nav="editorNav")
  div.editor__boxs(resize-box="layoutConfig")
script(type="text/ng-template", id="editor-tree")
  div
    div.editor__tabs
      span.icon-plus.button-icon(ng-click="addFile()")
      span.icon-remove.button-icon(ng-click="delFile()")
    div.editor__tree(context-menu="menuConfig", has-context-menu="main")
      div.aui-tree(style="margin-top: 10px;")
        span.icon-briefcase
        a(href="/application/{{app.user}}/{{app.name}}{{app.entrance}}", target="_blank").aui-tree-node {{app.name}}
      div(xtree="files")
script(type="text/ng-template", id="editor-main")
  div
    div.editor__tabs
      span.icon-tree.button-icon(ng-click="toggleBlock(0)", ng-class="{active: !layoutConfig.items[0].hide}")
      span.icon-console.button-icon(ng-click="toggleBlock(2)", ng-class="{active: !layoutConfig.items[2].hide}")
      span.icon-plus.button-icon(ng-click="addFile()")
      span.editor__tab(ng-repeat='item in tabs', ng-init="file = getNode({unique: item})", ng-class='{active: $parent.currentTab === item}', ng-click="$parent.currentTab = item")
        | {{file.name}}
        span(ng-show="file.isChange") *
        button(ng-click="closeTab('tabs', item)") ×
    div.editor__contents.editor__back-logo
      div(editor="currentFile", ng-show="currentTab")
script(type="text/ng-template", id="editor-assist")
  div(ng-class="{'full-screen': fullScreen}")
    div.editor__tabs
      span.icon-expand.button-icon(ng-click="fullScreen = !fullScreen", ng-class="{active: fullScreen}" )
      span.editor__tab(ng-repeat='item in panelTabs', ng-class='{active: currentPanel === item}', ng-click="$parent.currentPanel = item")
        | {{getPanel(item).name}}
        button(ng-click="closeTab('panelTabs', item)") ×
    div.editor__contents(style="background-color: #222;", panels="panels")
script(type="text/ng-template", id="editor-route")
  div(style="padding: 10px;")
    div.row--gray
      span 应用入口：
      select.editor__select(ng-model="app.entrance", ng-options="file.url as file.url for file in files")
    table.table
      thead
        tr
          th.table__th--gray
            span.table__cell-text 链接
          th.table__th--gray
            span.table__cell-text 文件
      tbody
        tr(ng-repeat="file in files")
          td.table__td--gray
            input.table__input-text--gray(type="text", ng-model="file.url")
          td.table__td--gray
            span.table__cell-text {{file.name}}