div.add-app
  form.sidebar(action="/post/save/app", method="post", ng-submit="submit($event)")
    input(type="hidden", name="_id", value="{{data._id}}")
    div.add-app-editor(resize-box)
      div.jade-box
        span.box-name jade
        textarea(name="jade", ng-model="data.jade", ng-keydown='save($event)')
      div.css-box
        span.box-name css
        textarea(name="css", ng-model="data.css", ng-keydown='save($event)')
      div.js-box
        span.box-name js
        textarea(name="js", ng-model="data.js", ng-keydown='save($event)')
      div.preview-box
        span.box-name preview
        iframe(ng-src="{{previewUrl}}", frameBorder=0)
    div.add-app-toolbar
      div.small-2.columns(ng-bind="data.name")
      div.small-2.columns
        select.left(ng-options="key as ('布局' + (key+1)) for (key, layout) in layouts", ng-model="layoutIndex")
      div.small-6.columns
        div.button-group.round
          input.button.small(type="button", ng-repeat="(name, box) in boxs", value="{{name}}", ng-click="toggle(box)", ng-class="{active: box.show}")
      div.small-2.columns
        input.button.small(type="submit", value="保存")