div.add-app
  div.jade-box.columns.large-4
    h3 jade
    textarea(ng-model="data.jade")
  div.css-box.columns.large-4
    h3 css
    textarea(ng-model="data.css")
  div.js-box.columns.large-4
    h3 js
    textarea(ng-model="data.js")
  div.preview-box
    iframe(src="")