div.add-app
  form.sidebar(action="/post/save/app", method="post", ng-submit="submit($event)")
    input(type="hidden", name="_id", value="{{data._id}}")
    div.add-app-editor(resize-box)
      div#jade-box
        span.box-name jade
        div.add-app-toolbar
        div.add-app-box(code-editor="jade")
      div#css-box
        span.box-name css
        div.add-app-toolbar
        div.add-app-box(code-editor="css")
      div#js-box
        span.box-name js
        div.add-app-toolbar
        div.add-app-box(code-editor="javascript")
      div.preview-box
        span.box-name preview
        div.add-app-toolbar
        div.add-app-box
          iframe(ng-src="{{previewUrl}}", frameBorder=0)
    div.add-app-toolbar
      div.small-2.columns(ng-bind="data.name")
      div.small-10.columns
        input.button.tiny.success.right(type="submit", value="保存")
        div.button-group.right
          input.button.tiny(type="button", ng-repeat="(name, box) in boxs", value="{{name}}", ng-click="toggle(box)", ng-class="{active: box.show}")
        select.right(ng-options="key as ('布局' + key) for (key, layout) in layouts", ng-model="layoutIndex")