div.dashboard
  div.dashboard-slidebar
    ul
      li(ng-class="{active: tab === 'account'}")
        a(href='#/dashboard/account')
          div.dashboard-avatar
            img(src-element="http://identicon.relucks.org/{user}?size=160")
          div.dashboard-user-name {{user}}
      li(ng-class="{active: tab === 'apps'}")
        a(href='#/dashboard/apps') 我的应用
      li(ng-class="{active: tab === 'snippets'}")
        a(href='#/dashboard/snippets') 我的代码片段

  ul.dashboard-con(ng-show="tab === 'account'")
    include ./dashboard-account.jade
  ul.dashboard-con(ng-show="tab === 'apps'", ng-controller="myAppsCtrl")
    include ./dashboard-apps.jade
  ul.dashboard-con(ng-show="tab === 'snippets'", ng-controller="mySnippetsCtrl")
    include ./dashboard-snippets.jade