div.desktop-box(ng-controller="desktopCtrl", ng-class='{adding: status.adding}')
  ul.desktop-added-list(drag-contain='apps', drag-box='apps')
    li.desktop-app(ng-click="switchStatus('add')")
      span.xicon-plus.desktop-add-btn
    li(drag-item, ng-repeat="app in apps", ng-style="app.position")
      a.app-logo.th(ng-bind="app.name", href="/apps/preview/{{app._id}}", target="_blank")
  div.desktop-all-list(ng-include="'app-list.html'", ng-controller="appListCtrl", ng-show="status.adding")