div.desktop-box(ng-controller="desktopCtrl", ng-class='{adding: status.adding}')
  ul.desktop-added-list(drag-contain='apps', drag-box='apps')
    li(drag-item, ng-repeat="app in apps", ng-style="app.position", ng-class="{draging: app.draging}")
      span.xicon-plus.desktop-drag-btn(ng-if="app.isButton && app.addButton",ng-click="switchStatus('add')", title="添加桌面应用")
      a.app-logo(ng-if="!app.isButton && app.size.showIframe === 'false'", ng-bind="app.name", href="/_apps/preview/{{app._id}}", target="_blank")
      iframe(ng-if="app.size.showIframe === 'true'", ng-src="{{app.url}}", border=0, frameBorder=0, width="100%", height="100%")
      span.iframe-app-drag.xicon-minus(ng-if="app.size.showIframe === 'true'", title="拖拽应用")
      span.xicon-remove.desktop-remove-btn(ng-if="!app.isButton", ng-click="removeApp($index)", title="从桌面删除应用")
  div.desktop-all-list(ng-include="'app-list.html'", ng-controller="appListCtrl", ng-show="status.adding")