div.desktop-box(ng-controller="desktopCtrl", ng-class='{adding: status.adding}')
  ul.desktop-added-list(drag-contain='apps', drag-box='apps')
    li(drag-item, ng-repeat="app in apps", ng-style="app.position")
      span.xicon-plus.desktop-add-btn(ng-if="app.isButton",ng-click="switchStatus('add')")
      a.app-logo.th(ng-if="!app.isButton && app.size.showIframe === 'false'", ng-bind="app.name", href="/_apps/preview/{{app._id}}", target="_blank")
      iframe(ng-if="app.size.showIframe === 'true'", ng-src="{{app.url}}", border=0, frameBorder=0)
      span.iframe-app-drag.xicon-minus(ng-if="app.size.showIframe === 'true'")
  div.desktop-all-list(ng-include="'app-list.html'", ng-controller="appListCtrl", ng-show="status.adding")