div.my-apps
  div.row
    div.sidebar
      div.columns.medium-4
        ul.pricing-table
          li.bullet-item 应用列表
            a.xicon-plus.right(view-link, href="/add-dialog", title="添加应用")
          li.bullet-item.animated(ng-repeat="app in apps", ng-class="{active: app._id === current._id}")
            a(ng-bind="app.name", ng-click="chooseApp(app, $index)")
      div.columns.medium-8(ng-show="current._id")
        div.large-12.columns
          div.left.app-logo {{current.name}}
          div.my-apps-header
            h3.left &nbsp;
              a(href="/_apps/preview/{{current._id}}", target="_blank", ng-bind="current.name")
            a.button.warning.small.right(href="#/add/{{current._id}}") 开发 
          hr
        form(action="", method="post", ng-submit="submit($event)")
          input(type="hidden")
          div.large-12.columns
            label 应用尺寸
              span.xicon-plus
            div 1 × 1
            div(ng-repeat="size in current.sizes") {{size.x}} × {{size.y}}
          div.large-12.columns
            label(for="description") 应用描述
            textarea(id="description", name="description", ng-model="current.description")
          div.large-12.columns
            input.button.small(type="submit", value="保存修改")
            input.button.success.small(type="button", value="申请发布")
        div.large-12.columns
          label() 删除应用
          input.button.alert.small(type="button", value="删除应用", ng-click="del()")
      