div
  iframe.snippet-iframe(ng-src="{{url}}", width="100%", height="500px", frameBorder=0)
  div.content
    span(tip="b", title="赞")
      span.icon-thumbs-up
    span(tip="b", title="重新载入")
      span.icon-spinner6
  div.content
    div.grid__8-12.form__full
      label.form__label 描述
      div.form__cell(ng-bind="snippet.description || '无描述'")
      label.form__label 评论
      include ../message/message