div
  iframe.snippet-iframe(ng-src="{{url}}", width="100%", height="500px", frameBorder=0)
  div.content
    span(tip="b", title="赞")
      span.icon-thumbs-up
    span(tip="b", title="重新载入")
      span.icon-spinner6
  div.content
    div.grid__8-12
      div
        div 描述
        div(ng-bind="snippet.description || '无描述'")
      hr
      div
        div 评论
        ul
          li(ng-repeat="comment in comments")