div.text--center
  div
    div.desktop__search
      input.desktop__input(type="text", placeholder="输入片段名称")
      span.desktop__search-button(title="搜索")
        span.icon-search
      a.desktop__search-button(href="/#/dashboard/apps", title="添加应用")
        span.icon-plus
  div
    a.panel(ng-repeat="snippet in snippets", href="/#/snippet/detail/{{snippet._id}}")
      div.panel__header
        span(ng-bind="snippet.name")
      div.panel__body
      div.panel__footer
        span.snippet-user by {{snippet.user}}