div.main__aside.position__left(ng-class="{blur: searchShow}")
  ul
    li(ng-if="item.icon", ng-repeat="(href, item) in navs", ng-show="!item.auth || (user && item.auth === 'yes') || (!user && item.auth === 'no')")
      a.main__aside-item(href="{{'/#' + href}}", title="{{item.title}}", ng-class="{active: $parent.$parent.href === href}")
        span(class="{{item.icon}}")
        span.main__aside-text(ng-bind="item.title")
    li(ng-show="user")
      a.main__aside-item(href="/_logout", title="退出登录", ng-click="logout($event)")
        span.icon-exit
        span.main__aside-text 退出登录