extends ./layout

block content
  div.main(ng-controller="indexCtrl", ng-class="{active: showAside}")
    include ./aside
    div.main__top.position__top
      a.main__top-item(ng-click="toggleAside()", ng-class="{active: showAside}")
        span.icon-menu2
      b(ng-bind="title")
    div.main__content.position__right(ng-view, ng-class="{blur: searchShow, main__full: $parent.full}")
    div.main__overlay.position__right(ng-show="searchShow")
      div.table
        input.form__input
  div.route-overlay(ng-show="loading || loadMessage")
    div.route-waiting
      span.icon-spinner2.waiting-icon(ng-show="loading")
      span.waiting-msg(ng-click="reload()", ng-bind="loadMessage", ng-show="loadMessage")

block script
  script(src="/js/bootstrap.js")
  if user
    script.
      require(['angular'], function(angular){
        angular.user = {
          login: '#{user.login}'
        };
      });