extends ./layout

block content
  div.logo(drag)
    span.logo__item
    a.logo__item(ng-repeat="item in navs | logoNavs", href="{{'/#' + item.href}}")
      span(class="{{item.icon}}")
  div.hide.assist
    div.assist-menu
      span.icon-menu2
    a.assist-item(ng-repeat="(href, item) in navs | assistItems track by $index", title="{{item.title}}", href="{{'/#' + href}}", ng-class="{true: 'rotate-icon' + $index}[true]")
      span(class="{{item.icon}}")
  div.main
    div.main__content.position__full(ng-view)
    div.main__overlay.hide.position__right(ng-show="searchShow")
      div.table
        input.form__input
  div.route-overlay(ng-show="loading || loadMessage")
    div.route-waiting
      span.icon-spinner2.waiting-icon(ng-show="loading")
      span.waiting-msg(ng-click="reload()", ng-bind="loadMessage", ng-show="loadMessage")

block script
  script(src="/js/bootstrap.js")
  if user
    script.
      require(['angular'], function(angular){
        angular.user = {
          login: '#{user.login}'
        };
      });