extends ./layout

block content
  div.logo(drag)
    div.logo__container
      span.logo__item
      a.logo__item(ng-repeat="item in navs | logoNavs", href="{{'/#' + item.href}}", title="{{item.title}}")
        span(class="{{item.icon}}")
  div.assist.hide(ng-class="{hide: !user || !showUser}", title="{{user.login}}")
    div.assist__menu
      span.icon-user
      img(src-element="http://identicon.relucks.org/{user.login}?size=48px")
    div.assist__overlay
    a.assist__item(ng-repeat="(href, item) in navs | assistItems track by $index", title="{{item.title}}", href="{{'/#' + href}}", ng-class="{true: 'rotate-icon' + $index}[true]")
      span(class="{{item.icon}}")
    a.assist__item.rotate-icon2(href="/_logout", title="退出登录")
      span.icon-exit
  div.main__login.hide(ng-class="{hide: user || !showUser}")
    a(href="/#/login") 登录
    |  | 
    a(href="/#/register") 注册
  div.main
    div.main__content.position--full(ng-view)
  div.route__overlay(ng-show="loading || loadMessage")
    div.route__waiting
      span.icon-spinner2.route__waiting-icon(ng-show="loading")
      span.route__waiting-msg(ng-click="reload()", ng-bind="loadMessage", ng-show="loadMessage")

block script
  script(src="/js/bootstrap.js")
  if user
    script.
      require(['angular'], function(angular){
        angular.user = {
          login: '#{user.login}'
        };
      });