doctype html
html
  head
    title #{title}
    meta(charset='utf-8')
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(href="/sources/favicon.ico", type="image/x-icon", rel="shortcut icon")
    link(rel='stylesheet', href='/css/build.css')
    block css
  body
    block content
    script(src="/lib/requirejs/2.1.15/require.min.js")
    block script