//Component
//Dialog

.dialog{
    visibility: hidden;
    display: none;
    position: relative;
    width: 100vw;
    margin: 20px auto;
    padding: 1.5rem;
    border: solid 1px #666666;
    background-color: white;
    border-radius: 3px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    z-index: 1005;
}

.dialog__bg{
    overflow: auto;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: black;
    background: rgba(0, 0, 0, 0.45);
    z-index: 1004;
    display: none;
    left: 0;
}

.dialog__close{
    font-size: 2.5rem;
    line-height: 1;
    position: absolute;
    top: 0.5rem;
    right: 0.6875rem;
    color: #aaaaaa;
    font-weight: bold;
    cursor: pointer;

    &:hover{
        color: darken(#aaa, 10%);
    }
}