//Components
//Tree

@component-tree-node-color: #efefef;
@component-tree-node-background-color: @success-color;

.aui__tree{
    margin: 5px 0 5px 0;
    padding: 0 10px;
    color: @component-tree-node-color;
    white-space: nowrap;
}

.aui__tree li{
    display: block;
}

.aui__tree li>span{
    display: inline-block;
    min-width: 100%;
    padding: 2px;
    line-height: 1;
    .border-radius(4px);
    .user-select(none);
}

.aui__tree span{
    cursor: pointer;
}

.aui__tree a{
    padding:0 5px;
    margin-left: 3px;
    color: @component-tree-node-color;
}

.aui__tree a:focus{
    outline: 1px solid #0078a0;
    cursor: auto;
    background-color: transparent;
}

.aui__tree .aui__active{
    background-color: @component-tree-node-background-color;
}