//Components
//Tree

@component-tree-color: #efefef;
@component-tree-background-color: #748512;

.aui__tree{
    margin-left: 0;
    padding: 0 10px;
    color: @component-tree-color;
    white-space: nowrap;
}

.aui__tree li{
    display: block;
}

.aui__tree li>span{
    min-width: 100%;
    .border-radius(4px);
    .user-select(none);
}

.aui__tree span{
    display: inline-block;
    cursor: pointer;
}

.aui__tree a{
    padding:0 5px;
    margin-left: 3px;
    color: @component-tree-color;
}

.aui__tree a:focus{
    outline: 1px solid #0078a0;
    cursor: auto;
    background-color: transparent;
}

.aui__tree .aui__active{
    background-color: @component-tree-background-color;
}