div
  div.content.markdown-body
    h1.content.text--center {{article.name || articleDefaultName}}
    p
      span.text--primary.button-icon(ng-click="toggleMenu()")
        | 内容列表 
        span(ng-class="{true: 'icon-menu4', false: 'icon-menu3'}[menu]")
      span.right 作者：{{article.user}}
    ul(ng-show="menu", style="padding-left: 0")
      li(ng-repeat="item in table", style="margin-left: {{(item[0] - 1) * 20 + 'px'}}; display: block;")
        a(anchor="'#' + item[1]") {{item[1]}}
    hr
    div(markdown-preview="article.content", markdown-preview-table="table")