div.article
  div.article__bar
    span.article__name.button-icon.text--overflow(ng-click="editName(true)", ng-show="!status.editingName", title="{{currentFile.name}}")
      | {{currentFile.name || defaultName}}
      span(ng-show="currentFile.isChange") *
    input.article__input(type="text", ng-model="currentFile.name", auto-focus="status.editingName", ng-show="status.editingName", ng-blur="saveName()")
    button.article__button.button-icon(ng-repeat="fun in functions", title="{{fun.title + ' ' + fun.key}}", ng-click="opera(fun)", ng-disabled="disable(fun)")
      span(class="{{fun.icon}}")
    div.article__toggle
      span.button(ng-repeat="item in layoutConfig.items track by $index", ng-class="{'button--primary': !item.hide}", ng-click="toggleBlock($index)") {{item.title}}
    span(ng-repeat="prompt in prompts", 
      ng-class="{'success': 'text--success', 'error': 'text--alert', 'doing': 'text--primary'}[prompt.status]"
      ) {{prompt.message}}
  div.article__main(resize-box="layoutConfig")
script(type="text/ng-template", id="article-list")
  div.article__list
    div.article__item.text--overflow(ng-repeat="file in files track by $index", ng-click="selectFile($index)", ng-class="{active: currentFile._id === file._id}", title="{{file.name}}")
      | {{file.name || $parent.defaultName}}
      span(ng-show="file.isChange") *
script(type="text/ng-template", id="article-editor")
  div.article__editor(article-editor="currentFile")
script(type="text/ng-template", id="article-preview")
  div.article__preview
    div.content.markdown-body(ng-bind-html="html")
script(type='text/ng-template', id="edit-article-dialog")
  button.button--primary 插入