extends ../layout
block css
  link(rel='stylesheet', href="/lib/codemirror/4.7/lib/codemirror.css")

block content
  include ./nav.jade
  div.main-box(ng-view)
  div.route-overlay(ng-show="loading || loadMessage")
    div.route-waiting(ng-show="loading")
      span.icon-spinner2
    div.route-message(ng-show="loadMessage")
      a(ng-click="reload()", ng-bind="loadMessage")

block script
  script(src="/public/js/bootstrap.js")