extends ../layout

block content
  nav.top-bar(data-topbar, role="navigation")
    ul.title-area
      li.name
        h1
          a(href="/") colorBox
    section.top-bar-section
      ul.right
        li
          a(href="#")
            span.xicon-th-large
        li
          a(view-link, href="/login") 登录
  div(ng-view)

block script
  script(src="/public/js/login.js")
  script(src="/public/js/index.js")