extends ../layout

block content
  nav.top-bar(data-topbar, role="navigation")
    ul.title-area
      li.name
        h1
          a(href="/") colorBox
      li.toggle-topbar.menu-icon
        a(href="#")
          span Menu
    section.top-bar-section
      ul.right
        li
          a(href="#", title="所有应用")
            span.xicon-th-large
        if user
          li.has-dropdown.not-click
            a #{user.login}
            ul.dropdown
              li
                a(view-link, href="/add-dialog") 添加应用
              li
                a(view-link, href="/my-apps") 我的应用
              li
                a(href="/logout") 注销
        if !user
          li.has-dropdown.not-click
            a(view-link, href="/login") 登录
            ul.dropdown
              li
                a(view-link, href="/register") 注册
  div.main-box(ng-view)

block script
  script(src="/public/js/login.js")
  script(src="/public/js/my-apps.js")
  script(src="/public/js/add-app.js")
  script(src="/public/js/index.js")