extends ../layout

block content
  include ./nav.jade
  div.main-box.animate-box(ng-view)
  div.route-overlay(ng-show="loading || loadMessage")
    div.route-waiting
      span.icon-spinner2.waiting-icon(ng-show="loading")
      span.waiting-msg(ng-click="reload()", ng-bind="loadMessage", ng-show="loadMessage")

block script
  script(src="/public/js/bootstrap.js")
  if user
    script.
      require(['angular'], function(angular){
        angular.user = {
          login: '#{user.login}'
        };
      });