doctype html
html
  head
    title colorBox更新日志
    meta(charset='utf-8')
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel='stylesheet', href='/public/css/normalize.css')
    link(rel='stylesheet', href='/public/css/foundation.min.css')
    link(rel='stylesheet', href='/public/css/icon.css')
    link(rel='stylesheet', href='/public/css/index.css')
  body
    include ./nav.jade
    div.main-box
      div
        if user && user.admin
          form(method="post", action="/post/add/log")
            div.row
              div.large-12.columns
                label(for="content") 日志内容
                textarea#content(name="content", required)
                input.button(type="submit", value="提交")
        div.row
          div.large-12.columns
            h1 colorBox更新日志
        each log in logs
          div.row
            div.large-12.columns
              hr
            div.large-12.columns #{log.date}
            div.large-12.columns !{log.content}