nav.top-bar
  a.name(href="/#/") colorBox
  a.title(ng-bind="title")
  ul.top-bar-right
    li
      a(tip, href="/#/app-list", title="所有应用")
        span.icon-stack
    li
      a(tip, href="/#/snippets-square", title="代码广场")
        span.icon-code
    li
      a(tip, href="/#/message-board", title="留言板")
        span.icon-copy2
    li
      a(tip, href="/_logs", title="网站更新日志")
        span.icon-bug
    li(ng-show="user", ng-cloak)
      a(tip, href="/_logout", title="退出登录")
        span.icon-arrow-right2
    li(ng-show="!user", ng-cloak)
      a(href="/#/login") 登录
    li(ng-show="!user", ng-cloak)
      a(href="/#/register") 注册
  a.top-bar-user(tip, href="/#/dashboard/apps", title="我的仪表盘", ng-show="user", ng-cloak)
    img(src-element="http://identicon.relucks.org/{user.login}?size=30")
    span.top-bar-user-icon.icon-user