nav.top-bar
  a.name(href="/#/") colorBox
  ul.top-bar-right
    li
      a(tip, href="/_logs", title="网站更新日志")
        span.icon-bug
    li
      a(tip, href="/#/message-board", title="留言板")
        span.icon-copy2
    li
      a(tip, href="/#/app-list", title="所有应用")
        span.icon-stack
    if user
      li
        a(tip, href="/#/dashboard/apps", title="我的仪表盘")
          span.icon-dashboard
      li
        a(tip, href="/_logout", title="退出登录")
          span.icon-arrow-right2
    if !user
      li
        a(href="/#/login") 登录
      li
        a(href="/#/register") 注册