form(name="loginForm", action="/login", method="post", ng-submit="submit($event)")
  div.row.medium-6.large-4.small-10
    fieldset
      legend  登录 
      div.alert-box.alert.animated(ng-repeat="error in errorMsgs", ng-bind="error")
      div.large-12.columns
        label(for="username") 用户名
        input(id="username", type="text", name="username", ng-model="data.username")
      div.large-12.columns
        label(for="password") 密码
        input(id="password", type="password", name="password", ng-model="data.password")
      div.large-12.columns
        input.button.expand(type="submit", value="登录")