//Base

*,
*:before,
*:after{
    box-sizing: border-box;
}

html{
    height: 100%;
}

body{
    height: 100%;
    color: @base-color;
    font-family: @font-family;
}

a{
    text-decoration: none;
}

.fill-full(@position: absolute){
    position: @position;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}