//Base

*{
    box-sizing: border-box;
}

html{
    height: 100%;
}

body{
    height: 100%;
    color: @base-color;
    font-family: @font-family;
}

a{
    color: @primary-color;
    text-decoration: none;
    cursor: pointer;
}

iframe{
    display: block;
    background-color: @white-color;
}

.icon-page-break:before {
    content: "--";
}