//Table

.table{
    display: table;
    width: 100%;

    &__cell{
        display: table-cell;
    }

    &__row{
        display: table-row;
        height: 1px;
    }

    &__row-group{
        display: table-row-group;
    }
}