.alert-box.ng-enter{
  -webkit-animation-name: fadeInDown;
          animation-name: fadeInDown;
}

.alert-box.ng-leave{
  -webkit-animation-name: fadeInDown;
          animation-name: fadeInDown;
}

.sidebar{
  padding: 32px 0;
}

.sidebar li.ng-leave{
  -webkit-animation-name: fadeOutLeft;
          animation-name: fadeOutLeft;
}

.sidebar li.active{
  background-color: #eee;
}

.prompt-box{
  position: fixed;
  width: 400px;
  top:30px;
  left:0;
  right:0;
  z-index: 1050;
  margin: auto;
  text-align:center;
}

.prompt-box .alert-box{
  padding: 5px 40px;
  display: inline-block;
  font-size: 16px;
}

.prompt-box .alert-box.ng-enter{
  -webkit-animation-name: fadeInUp;
          animation-name: fadeInUp;
}

.prompt-box .alert-box.ng-leave{
  -webkit-animation-name: fadeOutUp;
          animation-name: fadeOutUp;
}

.main-box,
.add-app,
.my-apps{
  height: 100%;
}

.main-box{
  margin-top: -45px;
  padding-top: 45px;
}

.add-app,
.my-apps{
  position: relative;
}

.add-app-editor{
  position: absolute;
  top: 35px;
  left: 0;
  bottom: 0;
  right: 0;
}

.add-app-editor > div{
  position: relative;
  overflow: hidden;
  padding: 5px;
  transition: 0.3s all;
}

.add-app-editor textarea,
.add-app-editor iframe{
  height: 100%;
  width: 100%;
}

.add-app-box{
  position: absolute;
  top: 35px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border: 1px solid #ccc;
}

.box-name{
  display: block;
  position: absolute;
  padding: 0 5px;
  top: 5px;
  right: 5px;
  color: #333;
  z-index: 10;
}

.add-app-toolbar{
  position: absolute;
  height: 30px;
  left: 5px;
  top: 5px;
  right: 5px;
  color: #fff;
  background-color: #ccc;
  overflow: hidden;
}

.add-app-toolbar .button-group .button{
  background-color: #008cba!important;
}

.add-app-toolbar .button-group .active{
  background-color: #007095!important;
}

.add-app-toolbar select,
.add-app-toolbar input {
  padding      : 0 20px 0 0;
  margin       : 0;
  height       : 30px;
  line-height  : 12px;
  font-size    : 12px;
  width        : auto;
}

.add-app-toolbar .columns{
  padding-right: 0;
}

.add-app-toolbar .button-group{
  padding-left: 10px;
  padding-right: 10px;
  background-color: #fff;
}

.app-list ul a{
  display: block;
  height: 100px;
  width: 100px;
  line-height: 100px;
  text-align: center;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  background-color: #43ac6a;
}

.app-list ul li.ng-enter{
  -webkit-animation-name: fadeInDown;
          animation-name: fadeInDown;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.resize-bar{
  position: absolute!important;
  display: none;
}

.resize-bar.dir-h{
  cursor: s-resize;
  display: block;
}

.resize-bar.dir-v{
  cursor: w-resize;
  display: block;
}

.resize-mark{
  background-color: #ccc;
  position: absolute!important;
  padding: 0!important;
  transition: none!important;
  z-index: 10;
}

.resize-overlay{
  position: absolute!important;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}