/*common*/
.cm-tip{
    position: fixed;
    border-radius: 4px;
    border: 2px solid rgba(0, 0, 0, 0.9);
    color: #333;
    background-color: #fff;
    font-size: 12px;
    z-index: 1050;
}

.cm-tip-arrow{
    position: absolute;
    border-width: 0 6px 6px;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0) rgba(255, 255, 255, 0) rgba(0, 0, 0, 0.9);
    top: -6px;
    left: 50%;
    margin-left: -6px;
}

.cm-tip-arrow-left{
    border-color: rgba(255, 255, 255, 0) rgba(255, 255, 255, 0) rgba(255, 255, 255, 0) rgba(0, 0, 0, 0.9);
    top:50%;
    left:auto;
    right:-6px;
    margin-top:-6px;
    border-width: 6px 0 6px 6px;
}

.cm-tip-content{
    padding:5px 10px;
    white-space: nowrap;
}


.top-bar{
  height: 36px;
  z-index: 1000;
}

.top-bar .name{
  height: 36px;
  display: inline-block;
  float: left;
  padding: 0 10px;
  color: #fff;
}

.top-bar a{
  display: inline-block;
  padding: 0 10px;
  height: 36px;
  line-height: 36px;
}

.top-bar-right{
  float: right;
}

.top-bar-right li{
  display: inline-block;
  font-size: 16px;
  border-left: 1px solid #444;
}

.top-bar-right li:hover{
  background-color: #444;
}

.top-bar-right a{
  color: #fff;
}

.btn-icon{
  color: #ccc;
  cursor: pointer;
  margin-left: 10px;
}

.btn-icon:hover{
  color: #999;
}

.desktop-box{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 45px;
  overflow-y: hidden;
}

.desktop-box.draging{
  background-image: -webkit-linear-gradient(to bottom, rgba(0,0,0,.15) 0%, transparent 1%, transparent 100%);
  background-image: -moz-linear-gradient(to bottom, rgba(0,0,0,.15) 0%, transparent 1%, transparent 100%);
  background-image: -o-linear-gradient(to bottom, rgba(0,0,0,.15) 0%, transparent 1%, transparent 100%);
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0) 1%, rgba(0, 0, 0, 0) 100%);
  background-repeat: repeat;
  background-position: top left;
  background-size: 100% 120px;
}

.desktop-box.adding{
  bottom: 197px;
}

.desktop-added-list{
  position: relative;
  height: 100%;
  width: 1441px;
  margin: 0 auto;
  overflow-y: auto;
  overflow-x: hidden;
}

.desktop-added-list.draging{
  background-image: -webkit-linear-gradient(to right, rgba(0,0,0,.15) 0%, transparent 1%, transparent 100%);
  background-image: -moz-linear-gradient(to right, rgba(0,0,0,.15) 0%, transparent 1%, transparent 100%);
  background-image: -o-linear-gradient(to right, rgba(0,0,0,.15) 0%, transparent 1%, transparent 100%);
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0) 1%, rgba(0, 0, 0, 0) 100%);
  background-repeat: repeat;
  background-position: top left;
  background-size: 120px 100%;
}

.desktop-all-list{
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: #333;
}

.desktop-drag-btn{
  font-size: 80px;
  color: #ccc;
  cursor: pointer;
  line-height: 100px;
  margin-left: 10px;
}

.desktop-drag-btn:hover{
  color: #ddd;
}

.alert-box.ng-enter{
  -webkit-animation-name: fadeInDown;
          animation-name: fadeInDown;
}

.alert-box.ng-leave{
  -webkit-animation-name: fadeInDown;
          animation-name: fadeInDown;
}

.sidebar{
  padding: 20px 0 0;
}

.sidebar li.ng-leave{
  -webkit-animation-name: fadeOutLeft;
          animation-name: fadeOutLeft;
}

.sidebar li.active{
  background-color: #eee;
}

.prompt-box{
  position: fixed;
  width: 400px;
  top:30px;
  left:0;
  right:0;
  z-index: 1050;
  margin: auto;
  text-align:center;
}

.prompt-box .alert-box{
  padding: 5px 40px;
  display: inline-block;
  font-size: 16px;
}

.prompt-box .alert-box.ng-enter{
  -webkit-animation-name: fadeInUp;
          animation-name: fadeInUp;
}

.prompt-box .alert-box.ng-leave{
  -webkit-animation-name: fadeOutUp;
          animation-name: fadeOutUp;
}

.main-box,
.add-app,
.my-apps{
  height: 100%;
}

.main-box{
  margin-top: -36px;
  padding-top: 36px;
}

.add-app,
.my-apps{
  position: relative;
}

.my-apps-header{
  padding-top: 55px;
}

.add-app-editor{
  position: absolute;
  top: 35px;
  left: 0;
  bottom: 0;
  right: 0;
}

.add-app-editor > div{
  position: relative;
  overflow: hidden;
  padding: 5px;
  transition: 0.3s all;
}

.add-app-editor textarea,
.add-app-editor iframe{
  height: 100%;
  width: 100%;
}

.add-app-box{
  position: absolute;
  top: 35px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border: 1px solid #ccc;
}

.box-name{
  display: block;
  position: absolute;
  padding: 0 5px;
  top: 5px;
  right: 5px;
  color: #333;
  z-index: 10;
}

.add-app-toolbar{
  position: absolute;
  height: 30px;
  left: 5px;
  top: 5px;
  right: 5px;
  color: #fff;
  background-color: #ccc;
  overflow: hidden;
}

.add-app-toolbar .button-group .button{
  background-color: #008cba!important;
}

.add-app-toolbar .button-group .active{
  background-color: #007095!important;
}

.add-app-toolbar select,
.add-app-toolbar input {
  padding      : 0 20px 0 0;
  margin       : 0;
  height       : 30px;
  line-height  : 12px;
  font-size    : 12px;
  width        : auto;
}

.add-app-toolbar .columns{
  padding-right: 0;
}

.add-app-toolbar .button-group{
  padding-left: 10px;
  padding-right: 10px;
  background-color: #fff;
}

.app-list{
  padding: 0 20px 20px;
}

.app-list ul,
.desktop-added-list{
  min-height: 100px;
}

.app-list ul a,
.desktop-added-list a,
.app-logo{
  display: block;
  height: 100px;
  width: 100px;
  line-height: 90px;
  text-align: center;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  background-color: #43ac6a;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.relative{
  position: relative;
}

.size-option{
  position: absolute;
  bottom: 0;
  padding: 0;
  height: 20px;
  margin: 0;
}

.desktop-added-list a,
.app-logo{
  width: 100%;
  height: 100%;
}

.desktop-added-list iframe{
  height: 100%;
  width: 100%;
}

.app-side-btns{
  position: absolute;
  left: -20px;
  top: 0;
  width: 20px;
  opacity: 0;
  font-size: 16px;
  text-align: center;
}

.app-side-btn{
  display: block;
  height: 20px;
  width: 20px;
  background-color: #ccc;
  margin-bottom: 1px;
  line-height: 20px;
}

.app-side-btn.icon-minus{
  cursor: move;
}

.desktop-added-list li:hover .app-side-btns{
  opacity: .2;
}

.app-side-btns:hover{
  opacity: .6!important;
}

.desktop-added-list li{
  display: block;
  position: absolute;
  margin-top: 10px;
  margin-left: 10px;
  transition: all .3s ease-out;
  opacity: 1;
}

.desktop-added-list li.draging{
  opacity: .4;
  z-index: 1010;
}

.desktop-added-list li.ng-enter{
  -webkit-animation-name: flipInX;
          animation-name: flipInX;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.desktop-added-list li.ng-leave{
  -webkit-animation-name: zoomOut;
          animation-name: zoomOut;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.app-logo{
  max-width: 100%;
  transition: all 200ms ease-out;
}

.my-apps .app-logo{
  height: 100px;
  width: 100px;
}

.app-list ul li.ng-enter{
  -webkit-animation-name: flipInX;
          animation-name: flipInX;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.resize-bar{
  position: absolute!important;
  overflow: hidden;
  display: none;
}

.resize-bar.dir-h{
  cursor: s-resize;
  display: block;
}

.resize-bar.dir-h:before,
.resize-bar.dir-h:after{
  content: '';
  display: block;
  position: absolute;
  top: 3px;
  left: 0;
  right: 0;
  width: 20px;
  height: 0;
  border-top: 1px solid #ccc;
  margin: auto;
}

.resize-bar.dir-h:after{
  top: 6px;
}

.resize-bar.dir-v:before,
.resize-bar.dir-v:after{
  content: '';
  display: block;
  position: absolute;
  left: 3px;
  top: 0;
  bottom: 0;
  height: 20px;
  width: 0;
  border-left: 1px solid #ccc;
  margin: auto;
}

.resize-bar.dir-v:after{
  left: 6px;
}

.resize-bar.dir-v{
  cursor: w-resize;
  display: block;
}

.resize-mark{
  background-color: #999;
  position: absolute!important;
  padding: 0!important;
  transition: none!important;
  z-index: 10;
}

.resize-overlay{
  position: absolute!important;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1011;
}

.drag-temp{
  position: absolute;
  display: block;
  pointer-events: none;
  opacity:.5 !important;
  z-index: 1000;
  cursor: move;
}

.drag-placeholder{
  background-color:#47a447 !important;
  border-width:0 !important;
}

.drag-placeholder.wrong{
  background-color:#f00 !important;
}

.route-overlay{
  position: fixed;
  top: 35px;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: transparent;
  opacity: .3;
  z-index: 1000;
}

.route-overlay.ng-enter{
  -webkit-animation-name: fadeIn;
          animation-name: fadeIn;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.route-overlay.ng-leave{
  -webkit-animation-name: fadeOut;
          animation-name: fadeOut;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.route-waiting{
  position: absolute;
  top: 50%;
  left: 50%;
  height: 30px;
  margin-left: -15px;
  margin-top: -15px;
  color: #000;
  font-size: 30px;
  line-height: 30px;
  -webkit-animation: waiting 1s infinite linear;
  animation: waiting 1s infinite linear;
}

.route-message{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 20px;
  margin: auto;
  text-align: center;
}

@-webkit-keyframes waiting{
  0%{
    transform: rotate(0);
  }
  100%{
    transform: rotate(360deg);
  }
}

@keyframes waiting{
  0%{
    transform: rotate(0);
  }
  100%{
    transform: rotate(360deg);
  }
}

/*message-board*/
.messages-box-prompt{
  margin: 20px 0 10px;
}

/*dashboard*/
.dashboard{
  height: 100%;
  position: relative;
}

.dashboard-slidebar{
  position: absolute;
  width: 160px;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: #333;
  border-top: 1px solid #333;
}

.dashboard-slidebar ul{
  margin-left: 0;
}

.dashboard-slidebar li{
  display: block;
  border-bottom: 1px solid #444;
  padding: 10px 20px;
  text-align: center;
  color: #fff;
  cursor: pointer;
}

.dashboard-slidebar li.active{
  background-color: #444;
}

.dashboard-slidebar a{
  color: #fff;
}

.dashboard-avatar{
  overflow: hidden;
  width: 120px;
  height: 120px;
  padding-top: 10px;
  margin: 30px auto 0;
  background-color: #ccc;
  border-radius: 50%;
  color: #fff;
}

.dashboard-avatar span{
  font-size: 120px;
  line-height: 120px;
}

.dashboard-user-name{
  text-align: center;
  padding: 10px 0;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
}

.dashboard-con{
  height: 100%;
  margin-left: 0;
  margin-bottom: 0;
}

.dashboard-box{
  display: block;
  margin-left: 160px;
  padding: 0 10px;
  height: 100%;
  background-color: #fafafa;
}

.dashboard-box-head{
  padding: 10px 0;
  margin-bottom: 20px;
  border-bottom: 1px solid #ccc;
  font-weight: bold;
}

.dashboard-box-head span{
  margin-right: 10px;
}

.dashboard-app-logo-wrap{
  width: 100px;
  height: 100px;
  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
}

.dashboard-box-app-size{
  margin-right: 10px;
  margin-bottom: 10px;
}

.dashboard-app-size-form select{
  width: auto;
  margin-right: 10px;
  margin-left: 5px;
}

.dashboard-box-list{
  margin-left: 0;
}

.dashboard-box-item{
  display: block;
  padding: 10px;
  margin: 10px 0;
  border-left: 3px solid #f08a24;
  background-color: #fff;
  box-shadow: 1px 1px 3px #ccc;
  color: #666;
  cursor: pointer;
}

.dashboard-box-item:hover{
  background-color: #eee;
}

.dashboard-box-item-btns{
  float: right;
}

.dashboard-box-item-btns span{
  display: inline-block;
  margin-left: 10px;
  color: #ccc;
}

.dashboard-box-item-btns span:hover{
  color: #999;
}