//Page
//Dashboard

.dashboard{

}

.dashboard__top{
  margin-bottom: 1rem;
  padding: 3rem 0 1rem;
  background-color: @success-color;
  color: @white-color;
  text-align: center;
}

.dashboard__avator{
  overflow: hidden;
  position: relative;
  display: inline-block;
  height: 160px;
  width: 160px;
  .border-radius(100%);
  background-color: @base-color;

  img{
    position: absolute;
    top: 0;
    left: 0;
  }

  span{
    font-size: 160px;
    line-height: 180px;
    color: @white-color;
  }
}

.dashboard__boxs{
  margin: 1rem 0 0;
  padding: 0;
}

.dashboard__box{
  display: block;
  padding: 0 1rem;
  text-align: center;
}

.dashboard__head{
  padding: 1rem 0;
  font-weight: bold;
}

.dashboard__head span{
  margin-right: .5rem;
}

.dashboard__list{
  text-align: center;
}

.dashboard__form{
  display: inline-block;
  max-width: 40rem;
}