extends ./dashboard

block content
  ul.dashboard__boxs
    li.dashboard__box
      div.dashboard__head
        span.icon-plus.button-hollow--success(title="添加文档", ng-click="addArticle()")
      div.dashboard__list(auto-center, auto-center-length="articles.length")
        a.dashboard__item.panel(href="#/edit/article?_id={{article._id}}", ng-repeat="article in articles track by $index")
          div.panel__header
            span {{article.name || $parent.defaultName}}
          div.panel__body
          div.panel__footer
            span.icon-bin(title="删除文档", ng-click="delArticle($event, $index)")