extends ./dashboard

block content
  ul.dashboard__boxs
    li.dashboard__box(ng-show="status.page === 'list'")
      div.dashboard__head
        span.icon-plus.button-hollow--primary(title="新建应用", ng-click="switch($event, 'add')")
      div.dashboard__list
        a.dashboard__item.panel(href="#/edit/app-pro/{{app._id}}", ng-repeat="app in apps")
          div.panel__header
            span {{app.name}}
          div.panel__body
          div.panel__footer
            span.icon-cog(title="应用设置", ng-click="switch($event, 'detail', app, $index)")

    li.dashboard__box(ng-show="status.page === 'add'")
      div.dashboard__head
        span.icon-arrow-left2.button-icon(ng-click="switch($event, 'list')", title="返回")
        span 新建应用
      form.form.dashboard__form(ng-submit="add()")
        div.alert-box.alert.animated(ng-repeat="error in errorMsgs", ng-bind="error")
        div.form__row
          label.form__label(for="app-name") 名称
          input#app-name.form__input(type="text", name="name", ng-model="data.name", required)
        div.form__row
          label.form__label(for="app-description") 描述
          textarea#app-description.form__input(name="description", ng-model="data.description")
        div.form__row
          span.form__cell
          span.form__cell
            input.button-hollow--success(type="submit", value="提交")

    li.dashboard__box(ng-show="status.page === 'detail'")
      div.dashboard__head
        span.icon-arrow-left2.button-icon(ng-click="switch($event, 'list')", title="返回")
        a(href="/_apps/preview/{{current._id}}", target="_blank", ng-bind="current.name")
      form.form__full.dashboard__form(ng-submit="submit($event)")
        label.form__label 应用类型
        span.form__cell
          span(ng-repeat="type in appTypeList")
            input.hide(type="radio", id="{{type.key}}", value="{{type.key}}", name="type", ng-model="current.type")
            label.button(for="{{type.key}}", ng-bind="type.name", ng-class="{'button--primary': current.type === type.key}")
        label.form__label 应用尺寸
          span.icon-plus.button-icon(ng-click="switchAddSize()")
        span.form__cell
          span.dashboard__box-app-size.label(ng-repeat="size in current.sizes") {{size.x}} × {{size.y}}
            span.icon-close.button-icon(ng-if="$index", ng-click="delSize($index)")
        div.form__cell.dashboard-app-size-form(ng-show="status.addSize")
          select(ng-model="currentSize.x", ng-options = "o as o for o in sizeOptions")
          | × 
          select(ng-model="currentSize.y", ng-options = "o as o for o in sizeOptions")
          select(ng-model="currentSize.showIframe", ng-options="key as o for (key, o) in showOptions")
          input.button-hollow(type="button", value="添加", ng-click="addSize()")
        label.form__label(for="description") 应用描述
        textarea.form__input(id="description", name="description", ng-model="current.description")
        input.form__button.button-hollow--success(type="submit", value="保存修改")
        input.form__button.button-hollow--primary(type="button", value="申请发布")
        label.form__label 编辑代码
        a.form__button.button-hollow--primary(href="#/edit/app-pro/{{current._id}}") 编辑代码
        label.form__label 删除应用
        input.form__button.button-hollow--alert(type="button", value="删除应用", ng-click="del()")