//Page
//Dashboard


.dashboard{
  height: 100%;
  position: relative;
}

.dashboard-slidebar{
  position: absolute;
  width: 160px;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: #333;
  border-top: 1px solid #333;
}

.dashboard-slidebar ul{
  margin: 0;
  padding: 0;
}

.dashboard-slidebar li{
  display: block;
  border-bottom: 1px solid #444;
  padding: 10px 20px;
  text-align: center;
  color: #fff;
  cursor: pointer;
}

.dashboard-slidebar li.active{
  background-color: #444;
}

.dashboard-slidebar a{
  color: #fff;
}

.dashboard-avatar{
  position: relative;
  overflow: hidden;
  width: 120px;
  height: 120px;
  margin: 30px auto 0;
  padding-top: 10px;
  background-color: #444;
  border-radius: 50%;
  color: #fff;
}

.dashboard-avatar img{
  position: absolute;
  top: 0;
  left: 0;
}

.dashboard-avatar span{
  font-size: 120px;
  line-height: 120px;
}

.dashboard-user-name{
  text-align: center;
  padding: 10px 0;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
}

.dashboard-con{
  overflow: auto;
  height: 100%;
  margin: 0;
  padding: 0;
}

.dashboard-box{
  display: block;
  margin-left: 160px;
  padding: 0 10px;
  height: 100%;
  background-color: #fafafa;
}

.dashboard-box-head{
  padding: 10px 0;
  margin-bottom: 20px;
  border-bottom: 1px solid #ccc;
  font-weight: bold;
}

.dashboard-box-head span{
  margin-right: 10px;
}

.dashboard-app-logo-wrap{
  width: 100px;
  height: 100px;
  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
}

.dashboard-app-types{
  margin-bottom: 20px;
}

.dashboard-app-types [type=radio]{
  display: none;
}

.dashboard-app-types [type=radio]:checked + label{
  background-color: #008cba!important;
  border-color: #007095!important;
  color: #fff!important;
}

.dashboard-app-types .button{
  margin-left: 0;
  margin-right: 10px;
}

.dashboard-box-app-size{
  margin-right: 10px;
  margin-bottom: 10px;
}

.dashboard-app-size-form select{
  width: auto;
  margin-right: 10px;
  margin-left: 5px;
}

.dashboard-box-list{
  margin-left: 0;
}

.dashboard-box-item{
  display: block;
  padding: 10px;
  margin: 10px 0;
  border-left: 3px solid #f08a24;
  background-color: #fff;
  box-shadow: 1px 1px 3px #ccc;
  color: #666;
  cursor: pointer;
}

.dashboard-box-item:hover{
  background-color: #eee;
}

.dashboard-box-item-btns{
  float: right;
}

.dashboard-box-item-btns span{
  display: inline-block;
  margin-left: 10px;
  color: #ccc;
}

.dashboard-box-item-btns span:hover{
  color: #999;
}