extends ./dashboard

block content
  ul.dashboard__boxs
    li.dashboard__box
      div.dashboard__head
        span.icon-plus.button-hollow--success(title="添加文档", ng-click="addArticle()")
      div.dashboard__list(auto-center, auto-center-length="articles.length")
        div.dashboard__item.panel(ng-repeat="article in articles track by $index")
          div.panel__header
            a(href="#/article/{{article._id}}", ng-bind="article.name || $parent.defaultName") 
          a.panel__body(href="#/edit/article?_id={{article._id}}")
          div.panel__footer
            span.icon-bin(title="删除文档", ng-click="delArticle($event, $index)")