div
  ul.dashboard-con(ng-show="tab === 'account'")
    include ./dashboard-account.jade
  ul.dashboard-con(ng-show="tab === 'apps'", ng-controller="myAppsCtrl")
    include ./dashboard-apps.jade
  ul.dashboard-con(ng-show="tab === 'snippets'", ng-controller="mySnippetsCtrl")
    include ./dashboard-snippets.jade
  ul.dashboard-con(ng-show="tab === 'appPros'", ng-controller="myAppProsCtrl")
    include ./dashboard-app-pro.jade